@mixin pc-layout {
  @media (min-width: ($sp-max-width + 1)) {
    @content;
  }
}

@mixin sp-layout {
  @media (max-width: $sp-max-width) {
    @content;
  }
}

@mixin image($path, $width, $height, $type: 'png', $scale: $design-scale) {
  width: $width / $scale * 1px;
  height: $height / $scale * 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: ($sp-max-width + 1)) {
    background-image: image-url('pc/' + $path + '.' + $type);
  }

  @media (max-width: $sp-max-width) {
    background-image: image-url('sp/' + $path + '.' + $type);
  }
}

@mixin vw-image($path, $width, $height, $type: 'png', $scale: $design-scale) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: ($sp-max-width + 1)) {
    width: vw-pc($width / $scale);
    height: vw-pc($height / $scale);
    background-image: image-url('pc/' + $path + '.' + $type);
  }

  @media (max-width: $sp-max-width) {
    width: vw-sp($width / $scale);
    height: vw-sp($height / $scale);
    background-image: image-url('sp/' + $path + '.' + $type);
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin text(
  $font-size,
  $line-height: normal,
  $letter-spacing: normal,
  $scale: $design-scale
) {
  font-size: $font-size / $scale * 1px;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin vw-text(
  $font-size,
  $line-height: normal,
  $letter-spacing: normal,
  $scale: $design-scale
) {
  line-height: $line-height;
  letter-spacing: $letter-spacing;

  @media (min-width: ($sp-max-width + 1)) {
    font-size: vw-pc($font-size / $scale);
  }

  @media (max-width: $sp-max-width) {
    font-size: vw-sp($font-size / $scale);
  }
}
