@mixin pc-layout {
  @media (min-width: ($sp-max-width + 1)) {
    @content;
  }
}

@mixin sp-layout {
  @media (max-width: $sp-max-width) {
    @content;
  }
}

@mixin size($width, $height) {
  width: px($width);
  height: px($height);
}

@mixin vw-size($width, $height) {
  @media (min-width: ($sp-max-width + 1)) {
    width: vw-pc($width);
    height: vw-pc($height);
  }

  @media (max-width: $sp-max-width) {
    width: vw-sp($width);
    height: vw-sp($height);
  }
}

@mixin image($path, $width, $height, $type: 'png') {
  width: px($width);
  height: px($height);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: ($sp-max-width + 1)) {
    background-image: image-url('pc/' + $path + '.' + $type);
  }

  @media (max-width: $sp-max-width) {
    background-image: image-url('sp/' + $path + '.' + $type);
  }
}

@mixin vw-image($path, $width, $height, $type: 'png') {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: ($sp-max-width + 1)) {
    width: vw-pc($width);
    height: vw-pc($height);
    background-image: image-url('pc/' + $path + '.' + $type);
  }

  @media (max-width: $sp-max-width) {
    width: vw-sp($width);
    height: vw-sp($height);
    background-image: image-url('sp/' + $path + '.' + $type);
  }
}

@mixin flex-center($justify-content: center) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font($color, $font-family, $font-weight: bold) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
}

@mixin text($font-size, $line-height, $letter-spacing, $text-align: center) {
  font-size: math.div($font-size, $design-scale);
  line-height: $line-height;
  letter-spacing: $letter-spacing * 1em;
  text-align: $text-align;
}

@mixin vw-text($font-size, $line-height, $letter-spacing, $text-align: center) {
  line-height: $line-height;
  letter-spacing: $letter-spacing * 1em;
  text-align: $text-align;

  @media (min-width: ($sp-max-width + 1)) {
    font-size: vw-pc($font-size);
  }

  @media (max-width: $sp-max-width) {
    font-size: vw-sp($font-size);
  }
}
